<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer" class="">
    <div class="footer-wrapper">
        <div class="footer-top">
            <div class="logo-wrapper"></div>
            <div class="title">
                <p></p>
            </div>
        </div>
        <div class="information">
            <div class="information-detail">

            </div>
            <div class="icon-area">
                <a href="#">
                </a>
                <a href="#">
                </a>
            </div>
            <div class="copyright"></div>
        </div>
    </div>
</div>